.review_revealed {
    transition: 0.5s;
    height: 240px;
    opacity: 1;
}

.review_hidden {
    transition: 0.5s;
    height: 0px;
    opacity: 0;
}

.tutor_list_container {
    width: 100%; 
    height: 600px;
    overflow: scroll;
}

